<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Compiled and minified CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!-- Compiled and minified JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    </head>
    <body>
        <section class="section">
            <div class="container">
                <a class="waves-effect waves-light btn" href="/?type=IF">SQL インライン テーブル値関数</a>
                <a class="waves-effect waves-light btn" href="/?type=P">ストアドプロシージャ</a>
                <a class="waves-effect waves-light btn" href="/?type=U">テーブル定義</a>
                <a class="waves-effect waves-light btn" href="/?type=V">ビュー</a>
                <a class="waves-effect waves-light btn right" href="/sync"><i class="material-icons left">update</i>更新</a>
                <table class="table striped">
                    <thead>
                        <tr>
                            <th>オブジェクト名</th>
                            <th>DEVELOP</th>
                            <th>STAGING</th>
                            <th>PRODUCTION</th>
                            <th>環境差分</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for procedure in procedure_list %}
                        <tr{% if procedure.d_ratio < 1.0 or procedure.s_ratio < 1.0 %} class=" red lighten-5"{% endif %}>
                            <td><a href="./{{ procedure.name }}">{{ procedure.name }}</a></td>
                            <td>{% if procedure.dev_count > 0 %}<a href="./{{ procedure.name}}/dev/raw">SQL</a> | <a href="./{{ procedure.name}}/dev/0">履歴({{ procedure.dev_count }})</a>{% endif %}</td>
                            <td>{% if procedure.stg_count > 0 %}<a href="./{{ procedure.name}}/stg/raw">SQL</a> | <a href="./{{ procedure.name}}/stg/0">履歴({{ procedure.stg_count }})</a>{% endif %}</td>
                            <td>{% if procedure.prd_count > 0 %}<a href="./{{ procedure.name}}/prd/raw">SQL</a> | <a href="./{{ procedure.name}}/prd/0">履歴({{ procedure.prd_count }})</a>{% endif %}</td>
                            <td><a href="./{{ procedure.name }}">環境差分</a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </section>
    </body>
</html>